<div class="jumbotron clearfix">
  <div class="row">
    <div class="col-xs-5">
      <h2 class="arvo">A sample application demonstrating Keycloak Authz services with Spring Boot</h2>
    </div>
    <div class="col-xs-7" align="right">
      <img alt="SB Authz" src="../images/keycloak.png"/>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-xs-2" align="right">
    <a href="#/services" class="btn btn-success" type="button">Services</a>
  </div>
  <div class="col-xs-4">
    <blockquote>Browse, get informations and request/response mocks on managed services</blockquote>
  </div>
  <div class="col-xs-2" align="right">

  </div>
  <div class="col-xs-4">
    <blockquote>...</blockquote>
  </div>
</div>

<br/>
